<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<h1 class="card-header" th:text="${title}"></h1>
			<div class="card-body">

				<form th:action="@{/cargos/add}" th:object="${cargo}" method="post">

					<div class="form-group">
						<label for="cargoID">ID:</label> <input type="text"
							class="form-control" id="cargoID" th:field="*{cargoID}"
							placeholder="Ingrese el ID" />
					</div>
					<div class="form-group">
						<label for="nombre" >Nombre:</label> <input type="text"
							class="form-control" id="nombre" th:field="*{nombre}"
							placeholder="Ingrese el nombre del cargo" />
					</div>
					<div class="form-group">
						<label for="sueldo">Sueldo:</label> <input type="text"
							class="form-control" id="sueldo" th:field="*{sueldo}"
							placeholder="Ingrese el monto" />
					</div>
					
					<div class="form-group">
						<input type="submit" th:value="${submitValue}"
							class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>